@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  place-items: center;
  font-family: "BMEULJIRO";

  text-align: center;
  background-color: #dbe5f1;
}

header {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 0 3px #4699b7, 3px 0 #4699b7;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  width: 90%;
  background-color: #bed1a9;
  border-radius: 30px;
  box-shadow: 0px 7px 7px #faf3d7;
  color: #faf3d7;
  margin-top: -15px;
  margin-bottom: 30px;
}

.calendar article {
  place-items: center;
  font-size: 20px;
  line-height: 0.7;
}

.calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.calendar li {
  margin: 15px 0;
  justify-content: center;
  align-self: center;
}

.calendar__todoRemainNum {
  z-index: 1;
  position: relative;
  color: #bed1a9;
  font-size: 20px;
}

.calendar__todoRemainNum:before {
  color: #faf3d7;
  content: "♥";
  margin-top: -3px;
  margin-left: -15px;
  font-size: 40px;
  z-index: -1;
  position: absolute;
}

#today {
  color: #faf3d7;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}

.plan article {
  margin: 0 20px 30px -10px;
}

.category {
  font-size: 25px;
  border-radius: 30px;
  color: #faf3d7;
  box-shadow: 0px 5px 5px rgba(198, 191, 152, 0.7);
  padding: 3px 20px;
}

#a1 {
  background-color: #c2b9d0;
}

#a2 {
  background-color: #e4bcb1;
}

#a3 {
  background-color: #aed0db;
}

#a4 {
  background-color: #acbd98;
}

#a5 {
  background-color: #c8b3aa;
}

.plan p {
  font-size: 17px;
  color: #666666;
  margin: 10px;
  text-align: left;
}

.plan p:before {
  content: "♥ ";
  color: #faf3d7;
}

#today:before,
article .done:before {
  color: #f25766;
}

.btn-wrapper {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}

.home,
.info {
  background-color: #b2c6ba;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: ivory;
  cursor: pointer;
  margin: 0px 20px;
  padding: 15px;
}

.text {
  margin: 0;
}
