@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  font-family: "BMEULJIRO";
  justify-content: center;
  text-align: center;
  background-color: #dbe5f1;
}

header {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 0 3px #4699b7, 3px 0 #4699b7;
}

.date {
  display: flex;
  background-color: #bed1a9;
  border-radius: 30px;
  box-shadow: 0px 7px 7px #faf3d7;
  color: #faf3d7;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.date article {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  line-height: 0.7;
}

.num {
  z-index: 1;
  position: relative;
  color: #bed1a9;
  font-size: 20px;
}

.num:before {
  color: #faf3d7;
  content: "♥";
  margin-top: -3px;
  margin-left: -15px;
  font-size: 40px;
  z-index: -1;
  position: absolute;
}

#today {
  color: #faf3d7;
}

.plan article {
  float: left;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

.category {
  font-size: 25px;
  border-radius: 30px;
  color: #faf3d7;
  box-shadow: 0px 5px 5px rgba(198, 191, 152, 0.7);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#a1 {
  background-color: #c2b9d0;
}

#a2 {
  background-color: #e4bcb1;
}

#a3 {
  background-color: #aed0db;
}

#a4 {
  background-color: #acbd98;
}

#a5 {
  background-color: #c8b3aa;
}

.plan p {
  font-size: 17px;
  color: #666666;
  margin: 10px;
  text-align: left;
}

.plan p:before {
  content: "♥ ";
  color: #faf3d7;
}

#today:before,
#done:before {
  color: #f25766;
}

.btn-wrapper {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}

.calendar,
.info {
  background-color: #b2c6ba;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: ivory;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.text {
  margin: 0;
}
